asgiref==3.11.1
asttokens==3.0.1
attrs==26.1.0
autobahn==25.12.2
Automat==25.4.16
beautifulsoup4==4.14.3
black==26.3.1
bs4==0.0.2
cbor2==5.9.0
certifi==2026.1.4
cffi==2.0.0
channels==4.3.2
channels_redis==4.3.0
charset-normalizer==3.4.4
chess==1.11.2
click==8.3.2
constantly==23.10.4
cryptography==46.0.6
daphne==4.2.1
decorator==5.2.1
dj-database-url==3.1.2
dj-rest-auth==7.2.0
Django==6.0.3
django-allauth==64.2.1
django-browser-reload==1.21.0
django-cors-headers==4.9.0
django-crispy-forms==2.6
django-debug-toolbar==6.2.0
django-environ==0.13.0
django-extensions==4.1
django-silk==5.5.0
django-stubs==6.0.1
django-stubs-ext==6.0.1
djangorestframework==3.17.0
djangorestframework-stubs==3.16.9
dotenv==0.9.9
executing==2.2.1
factory_boy==3.3.3
Faker==40.11.1
gprof2dot==2025.4.14
gunicorn==25.3.0
hyperlink==21.0.0
idna==3.11
Incremental==24.11.0
ipython==9.11.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
librt==0.8.1
matplotlib-inline==0.2.1
msgpack==1.1.2
mypy==1.19.1
mypy_extensions==1.1.0
numpy==2.4.3
packaging==26.0
pandas==3.0.1
parso==0.8.6
pathspec==1.0.4
pexpect==4.9.0
platformdirs==4.9.4
prompt_toolkit==3.0.52
psycopg==3.3.3
psycopg-binary==3.3.3
psycopg2-binary==2.9.11
ptyprocess==0.7.0
pure_eval==0.2.3
py-ubjson==0.16.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
Pygments==2.19.2
PyJWT==2.12.1
pyOpenSSL==26.0.0
pyperclip==1.11.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytokens==0.4.1
redis==7.4.0
requests==2.32.5
ruff==0.15.9
service-identity==24.2.0
six==1.17.0
soupsieve==2.8.3
sqlparse==0.5.5
stack-data==0.6.3
stockfish==4.0.8
traitlets==5.14.3
Twisted==25.5.0
txaio==25.12.2
types-PyYAML==6.0.12.20250915
typing==3.7.4.3
typing_extensions==4.15.0
ujson==5.12.0
urllib3==2.6.3
wcwidth==0.6.0
whitenoise==6.12.0
zope.interface==8.2
